name: django-workflow

on: 
  push:
    branches: [ main ]
    paths:
      - "**/*.py"

jobs:
  workflow:
    runs-on: ubuntu-latest

    steps:
      - name: checkout repo
        uses: actions/checkout@v6.0.2

      - name: setup python
        uses: actions/setup-python@v6.2.0
        with:
          python-version: "3.11"

      - name: Install dependencies
        run: |
          pip install -r requirements.txt

      - name: Run test
        run: |
          python manage.py test

      - name: Docker-image build
        run: docker build -t djgano-image .
